<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
   <h1><%= title %></h1>

<form action="/new" method="post">
  <div>
    <label>User:</label>
    <input type="text" name="user" required>
  </div>
  <div>
    <label>Message:</label>
    <input type="text" name="text" required>
  </div>
  <button type="submit">Submit</button>
</form>

<ul>
  <% messages.forEach(message => { %>
    <li>
      <%= message.text %> - 
      <%= message.user %> 
      (<%= message.added %>)
    </li>
  <% }) %>
</ul>
</body>
</html>